<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alxad.sdk.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:networkSecurityConfig,allowBackup,icon">

        <activity
            android:name=".alx.SplashActivity"
            android:theme="@style/splash_theme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".OtherPlatformActivity"
            android:label="@string/other_platform_demo"/>


        <!-- Alx demo：start-->
        <activity android:name=".alx.AlxDemoListActivity"
            android:label="Alx Ad"/>
        <activity android:name=".alx.BannerActivity"
            android:label="Alx Ad: banner"/>
        <activity android:name=".alx.RewardVideoActivity"
            android:label="Alx Ad: reward video"/>
        <activity android:name=".alx.InterstitialVideoActivity"
            android:label="Alx Ad: interstitial Ad - video"/>
        <activity android:name=".alx.InterstitialBannerActivity"
            android:label="Alx Ad: interstitial Ad - banner"/>
        <activity
            android:name=".alx.NativeActivity"
            android:label="Alx Ad: native" />
        <!-- Alx demo：end -->

        <!-- TopOn平台 demo案例 -->
        <activity
            android:name=".topon.TopOnDemoListActivity"
            android:label="TopOn Ad" />
        <activity android:name=".topon.TopOnBannerActivity"
            android:label="TopOn Ad: banner"/>
        <activity android:name=".topon.TopOnNativeActivity"
            android:label="TopOn Ad: native"/>
        <activity android:name=".topon.TopOnRewardVideoActivity"
            android:label="TopOn Ad: reward video"/>
        <activity android:name=".topon.TopOnInterstitialActivity"
            android:label="TopOn Ad: interstitial"/>
        <activity android:name=".topon.TopOnSplashActivity"
            android:label="TopOn Ad: splash"/>

        <!-- Admob平台 demo案例 -->
        <activity
            android:name=".admob.AdmobDemoListActivity"
            android:label="Admob Ad" />
        <activity android:name=".admob.AdmobBannerActivity"
            android:label="Admob Ad: banner"/>
        <activity android:name=".admob.AdmobRewardVideoActivity"
            android:label="Admob Ad: reward video"/>
        <activity android:name=".admob.AdmobInterstitialActivity"
            android:label="Admob Ad: interstitial"/>
        <activity android:name=".admob.AdmobNativeActivity"
            android:label="Admob Ad: native"/>


        <!-- GAM平台 demo案例 -->
        <activity
            android:name=".gam.GamDemoListActivity"
            android:label="Gam Ad" />
        <activity android:name=".gam.GamBannerActivity"
            android:label="Gam Ad: banner"/>
        <activity android:name=".gam.GamRewardVideoActivity"
            android:label="Gam Ad: reward video"/>
        <activity android:name=".gam.GamInterstitialActivity"
            android:label="Gam Ad: interstitial"/>
        <activity android:name=".gam.GamNativeActivity"
            android:label="Gam Ad: native"/>


        <!-- TradPlus平台 demo案例 -->
        <activity
            android:name=".tradplus.TradPlusDemoListActivity"
            android:label="TradPlus Ad" />
        <activity android:name=".tradplus.TradPlusSplashActivity"
            android:label="TradPlus Ad: splash"/>
        <activity android:name=".tradplus.TradPlusBannerActivity"
            android:label="TradPlus Ad: banner"/>
        <activity android:name=".tradplus.TradPlusRewardVideoActivity"
            android:label="TradPlus Ad: reward video"/>
        <activity android:name=".tradplus.TradPlusInterstitialActivity"
            android:label="TradPlus Ad: interstitial"/>
        <activity android:name=".tradplus.TradPlusNativeActivity"
            android:label="TradPlus Ad: native"/>


        <!-- LevelPlay(原 IronSource)平台 demo案例 -->
        <activity
            android:name=".ironsource.IronSourceDemoListActivity"
            android:label="LevelPlay Ad"/>
        <activity android:name=".ironsource.IronSourceInterstitialActivity"
            android:label="LevelPlay Ad: interstitial"/>
        <activity android:name=".ironsource.IronSourceRewardedVideoActivity"
            android:label="LevelPlay Ad: reward video"/>
        <activity android:name=".ironsource.IronSourceBannerActivity"
            android:label="LevelPlay Ad: banner"/>


        <!-- max平台 demo案例 -->
        <activity
            android:name=".max.MaxDemoListActivity"
            android:label="max Ad" />
        <activity
            android:name=".max.MaxBannerActivity"
            android:label="max Ad:banner" />
        <activity
            android:name=".max.MaxInterstitialActivity"
            android:label="max Ad:interstitial" />
        <activity
            android:name=".max.MaxRewardVideoActivity"
            android:label="max Ad:reward video" />
        <activity
            android:name=".max.MaxNativeActivity"
            android:label="max Ad:native" />


        <!-- 下面是配置信息 -->
        <!--Admob平台——start -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4920936244266233~6784498952"/>
        <!--Admob平台——end -->

        <!--TopOn平台——start -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--google-->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <!--TopOn平台——end -->


        <!--LevelPlay(原 IronSource)平台——start -->
        <provider
            android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"
            android:authorities="${applicationId}.IronsourceLifecycleProvider" />
        <!--LevelPlay(原 IronSource)平台——end -->

    </application>

</manifest>